 *{
   margin: 0;
  padding: 0;
   }
 
   #input{
   width: 30%;
   height: 45%;
   background: #ccc;
   float: left;
   margin: 8em 4em;
   border-radius: 7px;
   box-shadow: 4px 4px #424242;
       } 
  
	   
	#p { 
	border: dashed 1px;
	font-size: 30px;
	background: #f1ecdf;
	padding: .7em;
	margin: .1em;
	border-radius: 15px;
	text-align: center;
			}
	#p1 { 
	
	font-size: 7px;
	
	padding: 1em;
	margin: .5em;
			}
   